<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplayedPreTrialNotice</key>
	<true/>
	<key>DisplayedTrialExpiration</key>
	<true/>
	<key>InkubatorUsername</key>
	<string>chuck@thedantonios.net</string>
	<key>NewYorkTimesCookie</key>
	<string>NYT-S=2o88ApJp.01hC.HnV1xXWgKtGF8iCUJZD2Cwp25rjRGloIxuW4JAiO0CNLdvrg1b/TjOoea6bgYnQjiv2H7XNkjQD7EcIE5HA3EQ7SwA52w0vv5yvMITH5SB3Q2RDkTDwfU5WRkfIzBEgUpZZcwOatwuI0.ZE0cTbjhH7cXR8y2gOfcODdn2HD6itp8TgaRNTXO7vsS7OXxvo0; NYT-T=ok; RT="z=1&amp;dm=nytimes.com&amp;si=c2f11e67-5ed1-4a8f-a1c9-31a283d52892&amp;ss=ktg7qs8p&amp;sl=1&amp;tt=10e&amp;rl=1"; datadome=PnV19pa07QzwEqAAbFOdaElrCe-e.lN66F7.x5Ii6mqt2hvCLE-iMJlSb0~FszItHWYU2pFP3PedfrDDUBM6tyzxLMPqq_YNqMdLiMVR.s; nyt-a=Rh0z-6T5HQxNaaAGyb4wLz8R; nyt-auth-action=login-email; nyt-auth-method=username; nyt-b3-traceid=b764b1adba7349b6997416dcfb9827bf; nyt-gdpr=0; nyt-geo=US; nyt-purr=cfhhcfhhhck; purr-cache=&lt;K0&lt;r&lt;C_&lt;G_&lt;S0; _cb_ls=1; _t_tests=eyI0UWJ1Q2szM3JKa1hsIjp7ImNob3NlblZhcmlhbnQiOiJBIiwic3BlY2lmaWNMb2NhdGlvbiI6WyJCUmdZdU0iXX0sImxpZnRfZXhwIjoibSJ9</string>
	<key>SelectedPuzzleSource</key>
	<string>6C456DB7-0B33-43DE-9C24-D54FA373FAD3</string>
</dict>
</plist>
