<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DoNotShowNotifications</key>
	<string>{"entry":[{"notification_type":170},{"notification_type":190},{"notification_type":201}]}</string>
	<key>PerAccountPreferences</key>
	<string>{"per_account_preferences":[{"key":"101830861419404937687","value":{"mac_smb_port":52456}}]}</string>
</dict>
</plist>
