<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CheckedIfBartender2LaunchedAtLogin</key>
	<true/>
	<key>appBartenderOrder</key>
	<array>
		<string>com.citrix.ReceiverHelper</string>
		<string>com.twitter.twitter-mac</string>
		<string>AppleVPNExtra</string>
		<string>AppleVolumeExtra</string>
		<string>AppleBluetoothExtra</string>
		<string>DisplaysExtra</string>
		<string>com.evernote.EvernoteHelper</string>
		<string>org.herf.Flux</string>
		<string>org.shiftitapp.ShiftIt</string>
		<string>com.pilotmoon.popclip</string>
		<string>com.logitech.gaming</string>
		<string>com.google.GoogleDrive</string>
		<string>com.garmin.renu.service</string>
		<string>com.getdropbox.dropbox</string>
	</array>
	<key>appSettings</key>
	<dict>
		<key>2BUA8C4S2C.com.agilebits.onepassword4-helper</key>
		<dict>
			<key>controlled</key>
			<integer>0</integer>
			<key>popupFix</key>
			<false/>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>5</integer>
		</dict>
		<key>AppleBluetoothExtra</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>popupFix</key>
			<false/>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>5</integer>
		</dict>
		<key>AppleVPNExtra</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>popupFix</key>
			<false/>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>5</integer>
		</dict>
		<key>AppleVolumeExtra</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>searchName</key>
			<string>Volume</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>DisplaysExtra</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>popupFix</key>
			<false/>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>5</integer>
		</dict>
		<key>Siri</key>
		<dict>
			<key>controlled</key>
			<integer>2</integer>
			<key>searchName</key>
			<string>Siri</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>com.apple.Spotlight</key>
		<dict>
			<key>controlled</key>
			<integer>2</integer>
			<key>searchName</key>
			<string>Spotlight</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>com.apple.ecMenuExtra</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>searchName</key>
			<string>Enterprise Connect Menu</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
  	<key>com.generalarcade.flycut</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>searchName</key>
			<string>Flycut</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>com.google.GoogleDrive</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>popupFix</key>
			<true/>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>5</integer>
		</dict>
		<key>com.jetbrains.apps.activator</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>searchName</key>
			<string>JetBrains Toolbox</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>com.jetbrains.toolbox</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>searchName</key>
			<string>JetBrains Toolbox</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>com.pilotmoon.popclip</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>popupFix</key>
			<false/>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>5</integer>
		</dict>
		<key>com.twitter.twitter-mac</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>popupFix</key>
			<false/>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>5</integer>
		</dict>
		<key>com.zenonas.Barmaid</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>searchName</key>
			<string>Barmaid</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>org.hammerspoon.Hammerspoon</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>searchName</key>
			<string>Hammerspoon</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>org.pqrs.Karabiner-Menu</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>searchName</key>
			<string>Karabiner-Menu</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>bartender.storedPositions</key>
	<dict>
		<key>85C27NK92C.com.flexibits.fantastical2.mac.helper-Fantastical</key>
		<real>263</real>
		<key>Multipass-Item-0</key>
		<real>846</real>
		<key>com.agilebits.onepassword7-Item-0</key>
		<real>449</real>
		<key>com.apple.Spotlight-Item-0</key>
		<real>30116</real>
		<key>com.apple.TextInputMenuAgent-Item-0</key>
		<real>921</real>
		<key>com.apple.WebKit.Plugin.32-Item-0</key>
		<real>799</real>
		<key>com.apple.ecMenuExtra-Item-0</key>
		<real>20173</real>
		<key>com.apple.locationmenu-Item-0</key>
		<real>754</real>
		<key>com.apple.systemuiserver-AirPortExtra</key>
		<real>116</real>
		<key>com.apple.systemuiserver-AppleBluetoothExtra</key>
		<real>20987</real>
		<key>com.apple.systemuiserver-AppleClockExtra</key>
		<real>585.5</real>
		<key>com.apple.systemuiserver-AppleUser</key>
		<real>352</real>
		<key>com.apple.systemuiserver-AppleVPNExtra</key>
		<real>20315</real>
		<key>com.apple.systemuiserver-AppleVolumeExtra</key>
		<real>20062</real>
		<key>com.apple.systemuiserver-BatteryExtra</key>
		<real>167</real>
		<key>com.apple.systemuiserver-DisplaysExtra</key>
		<real>20534</real>
		<key>com.apple.systemuiserver-Siri</key>
		<real>30125</real>
		<key>com.fiplab.memoryclean3-Item-0</key>
		<real>491</real>
		<key>com.generalarcade.flycut-Item-0</key>
		<real>20202</real>
		<key>com.if.Amphetamine-Item-0</key>
		<real>422.5</real>
		<key>com.jetbrains.apps.activator-Item-0</key>
		<real>21279</real>
		<key>com.jetbrains.toolbox-Item-0</key>
		<real>20395</real>
		<key>com.pilotmoon.popclip-Item-0</key>
		<real>20367</real>
		<key>com.todoist.mac.Todoist-Item-0</key>
		<real>675</real>
		<key>com.twitter.twitter-mac-Item-0</key>
		<real>20897</real>
		<key>com.vmware.fusionApplicationsMenu-Item-0</key>
		<real>800</real>
		<key>com.zenonas.Barmaid-Item-0</key>
		<real>561</real>
		<key>org.hammerspoon.Hammerspoon-Item-0</key>
		<real>20119</real>
		<key>org.pqrs.Karabiner-Menu-Item-0</key>
		<real>20422</real>
		<key>us.zoom.xos-Item-0</key>
		<real>781</real>
	</dict>
	<key>bartender.storedPositionsVisible</key>
	<dict>
		<key>85C27NK92C.com.flexibits.fantastical2.mac.helper-Fantastical</key>
		<real>263</real>
		<key>Multipass-Item-0</key>
		<real>846</real>
		<key>com.agilebits.onepassword7-Item-0</key>
		<real>449</real>
		<key>com.apple.Spotlight-Item-0</key>
		<real>116</real>
		<key>com.apple.TextInputMenuAgent-Item-0</key>
		<real>921</real>
		<key>com.apple.ecMenuExtra-Item-0</key>
		<real>173</real>
		<key>com.apple.locationmenu-Item-0</key>
		<real>754</real>
		<key>com.apple.systemuiserver-AirPortExtra</key>
		<real>116</real>
		<key>com.apple.systemuiserver-AppleBluetoothExtra</key>
		<real>987</real>
		<key>com.apple.systemuiserver-AppleClockExtra</key>
		<real>585.5</real>
		<key>com.apple.systemuiserver-AppleUser</key>
		<real>352</real>
		<key>com.apple.systemuiserver-AppleVPNExtra</key>
		<real>315</real>
		<key>com.apple.systemuiserver-AppleVolumeExtra</key>
		<real>62</real>
		<key>com.apple.systemuiserver-BatteryExtra</key>
		<real>167</real>
		<key>com.apple.systemuiserver-DisplaysExtra</key>
		<real>534</real>
		<key>com.apple.systemuiserver-Siri</key>
		<real>125</real>
		<key>com.fiplab.memoryclean3-Item-0</key>
		<real>491</real>
		<key>com.generalarcade.flycut-Item-0</key>
		<real>202</real>
		<key>com.if.Amphetamine-Item-0</key>
		<real>422.5</real>
		<key>com.jetbrains.toolbox-Item-0</key>
		<real>395</real>
		<key>com.logitech.gaming-Item-0</key>
		<real>1089</real>
		<key>com.microsoft.OneDrive-Item-0</key>
		<real>342</real>
		<key>com.pilotmoon.popclip-Item-0</key>
		<real>367</real>
		<key>com.todoist.mac.Todoist-Item-0</key>
		<real>675</real>
		<key>com.zenonas.Barmaid-Item-0</key>
		<real>561</real>
		<key>org.hammerspoon.Hammerspoon-Item-0</key>
		<real>119</real>
		<key>org.pqrs.Karabiner-Menu-Item-0</key>
		<real>422</real>
		<key>us.zoom.xos-Item-0</key>
		<real>781</real>
	</dict>
	<key>insertGap</key>
	<true/>
	<key>license2HoldersName</key>
	<string>Chuck D'Antonio</string>
	<key>menuBarPositions</key>
	<array>
		<string>SystemUIServer:965</string>
		<string>SystemUIServer:964</string>
		<string>SystemUIServer:985</string>
		<string>SystemUIServer:984</string>
		<string>SystemUIServer:183</string>
		<string>SystemUIServer:191</string>
		<string>SystemUIServer:175</string>
		<string>SystemUIServer:187</string>
		<string>SystemUIServer:179</string>
		<string>SystemUIServer:154</string>
		<string>SystemUIServer:150</string>
		<string>SystemUIServer:123</string>
		<string>SystemUIServer:115</string>
		<string>us.zoom.xos</string>
		<string>AppleVPNExtra</string>
		<string>com.todoist.mac.Todoist</string>
		<string>com.twitter.twitter-mac</string>
		<string>AppleBluetoothExtra</string>
		<string>org.herf.Flux</string>
		<string>com.if.Amphetamine</string>
		<string>com.bufferapp.Buffer-Mac</string>
		<string>com.zenonas.Barmaid</string>
		<string>2BUA8C4S2C.com.agilebits.onepassword4-helper</string>
		<string>com.google.GoogleDrive</string>
		<string>com.pilotmoon.popclip</string>
		<string>com.surteesstudios.Bartender</string>
		<string>com.fiplab.memoryclean</string>
		<string>com.generalarcade.flycut</string>
		<string>com.apple.locationmenu</string>
		<string>AirPortExtra</string>
		<string>DisplaysExtra</string>
		<string>AppleVolumeExtra</string>
		<string>BatteryExtra</string>
		<string>AppleClockExtra</string>
		<string>com.apple.Spotlight</string>
		<string>Siri</string>
		<string>NotificationCenter</string>
		<string>menuExtra.notificationcenter</string>
	</array>
	<key>showMenuBarIcon</key>
	<true/>
</dict>
</plist>
