# standard ignores
secrets/*
secrets/**/*
!secrets/*.enc
!secrets/*/
!secrets/**/*.enc
!secrets/README.md
work/*
!work/.gitkeep

# nix build results
result

# python cache
__pycache__/
*.py[cod]
*$py.class

# editor backup files
*.bak

**/.claude/settings.local.json
**/.goose
**/.crush
