<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HasResetOrderTip</key>
	<true/>
	<key>NSConstraintBasedLayoutVisualizeMutuallyExclusiveConstraints</key>
	<false/>
	<key>NSInitialToolTipDelay</key>
	<integer>100</integer>
	<key>NSNavLastRootDirectory</key>
	<string>/Volumes/GoogleDrive/My Drive/Outbox</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{799, 448}</string>
	<key>NSQuitAlwaysKeepsWindows</key>
	<false/>
	<key>NSStatusItem Preferred Position Item-0</key>
	<integer>6014</integer>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>-250 -248 799 448 0 0 2560 1415 </string>
	<key>NSWindow Frame ZOOM Main Window</key>
	<string>69 273 1764 1050 0 0 2560 1415 </string>
	<key>PresAppKeyHash</key>
	<integer>-4212702611455353846</integer>
	<key>PresMeetingAppKeyHash</key>
	<integer>-4884386599537005782</integer>
	<key>User Select Language Identify</key>
	<string>follow system language</string>
	<key>ZMJoinMeetingFlowAnchor</key>
	<string>{{-1321, 491}, {400, 360}}</string>
	<key>ZoomAutoUpdateState</key>
	<string>ZoomAutoUpdateStateTouched</string>
	<key>ZoomAutoUpdateVersion</key>
	<string>5.10.4.6592</string>
	<key>_favoriteArray</key>
	<array>
		<string>:hamburger:=🍔</string>
		<string>:smiley:=😃</string>
	</array>
	<key>been dragged wall video</key>
	<true/>
	<key>been pinned/spotlight video</key>
	<true/>
	<key>kCaptureWithoutChatWindow</key>
	<true/>
	<key>kIM_AddAppTipShowCount_urq_j8srrwijopcdsisptg@xmpp.zoom.us</key>
	<integer>3</integer>
	<key>kIM_LastOpenedSession</key>
	<string></string>
	<key>kZMHadShowAvatarSettingTransition</key>
	<true/>
	<key>kZMHadShowFiveMinsCountDown</key>
	<false/>
	<key>kZMHadShowOneDayCountDown</key>
	<false/>
	<key>kZMHadShowOneHourCountDown</key>
	<false/>
	<key>kZMHadShowSessionWarning</key>
	<false/>
	<key>kZMHadShowSortTransition</key>
	<true/>
	<key>kZMPTRemoveSystemNotification</key>
	<false/>
	<key>kZMSettingVBHaveGreenScreen</key>
	<false/>
	<key>kZMShowPersonalFolderTransition</key>
	<true/>
	<key>kZMUserDedaultWindowOriginFrame</key>
	<string>{{-1720, 378}, {880, 660}}</string>
	<key>kZMUserDefaultMainWindowCompressed</key>
	<false/>
	<key>kZMUserDefaultSelectedTabType</key>
	<integer>2</integer>
	<key>tab_tip_has_poped</key>
	<true/>
	<key>urq_j8srrwijopcdsisptg@xmpp.zoom.us_kZMExpandedGroupId</key>
	<array>
		<string>##kZMChatsGroupChats##</string>
	</array>
</dict>
</plist>
