<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlocklistAutoUpdate</key>
	<true/>
	<key>BlocklistNew</key>
	<true/>
	<key>BlocklistURL</key>
	<string>http://john.bitsurge.net/public/biglist.p2p.gz</string>
	<key>CheckRemoveDownloading</key>
	<true/>
	<key>DownloadAsk</key>
	<false/>
	<key>DownloadFolder</key>
	<string>/Users/crdant/Documents/Inbox</string>
	<key>DownloadLocation</key>
	<string>/Users/crdant/Documents/Inbox</string>
	<key>DownloadLocationConstant</key>
	<true/>
	<key>IncompleteDownloadFolder</key>
	<string>/Users/crdant/Documents/Torrents</string>
	<key>InfoVisible</key>
	<false/>
	<key>InspectorSelected</key>
	<string>Info</string>
	<key>MagnetOpenAsk</key>
	<false/>
	<key>NSToolbar Configuration TRMainToolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<integer>1</integer>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
  <key>RandomPort</key>
	<true/>
	<key>SelectedPrefView</key>
	<string>TOOLBAR_TRANSFERS</string>
	<key>UseIncompleteDownloadFolder</key>
	<true/>
	<key>WarningDonate</key>
	<false/>
	<key>WarningLegal</key>
	<false/>
</dict>
</plist>
