<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>168</key>
	<dict>
		<key>after-last-window-action</key>
		<string>do-nothing</string>
		<key>main-window</key>
		<dict>
			<key>active-tools</key>
			<dict>
				<key>com.qvacua.vimr.tools.file-browser</key>
				<true/>
				<key>com.qvacua.vimr.tools.html-preview</key>
				<true/>
				<key>com.qvacua.vimr.tools.opened-files-list</key>
				<true/>
				<key>com.qvacua.vimr.tools.preview</key>
				<true/>
			</dict>
			<key>appearance</key>
			<dict>
				<key>editor-characterspacing</key>
				<integer>1</integer>
				<key>editor-font-name</key>
				<string>Menlo-Regular</string>
				<key>editor-font-size</key>
				<integer>13</integer>
				<key>editor-linespacing</key>
				<integer>1</integer>
				<key>editor-uses-ligatures</key>
				<true/>
				<key>shows-file-icon</key>
				<true/>
				<key>uses-theme</key>
				<true/>
			</dict>
			<key>draws-parallel</key>
			<false/>
			<key>frame</key>
			<string>{{-3609, 656}, {1901, 1345}}</string>
			<key>is-all-tools-visible</key>
			<true/>
			<key>is-left-option-meta</key>
			<false/>
			<key>is-right-option-meta</key>
			<false/>
			<key>is-show-hidden</key>
			<false/>
			<key>is-tool-buttons-visible</key>
			<true/>
			<key>ordered-tools</key>
			<array>
				<string>com.qvacua.vimr.tools.file-browser</string>
				<string>com.qvacua.vimr.tools.opened-files-list</string>
				<string>com.qvacua.vimr.tools.preview</string>
				<string>com.qvacua.vimr.tools.html-preview</string>
			</array>
			<key>preview-tool</key>
			<dict>
				<key>is-forward-search-automatically</key>
				<false/>
				<key>is-refresh-on-write</key>
				<true/>
				<key>is-reverse-search-automatically</key>
				<false/>
			</dict>
			<key>trackpad-scroll-resistance</key>
			<integer>5</integer>
			<key>use-interactive-zsh</key>
			<false/>
			<key>use-live-resize</key>
			<false/>
			<key>workspace-tool</key>
			<dict>
				<key>com.qvacua.vimr.tools.file-browser</key>
				<dict>
					<key>dimension</key>
					<integer>200</integer>
					<key>is-visible</key>
					<true/>
					<key>location</key>
					<string>left</string>
				</dict>
				<key>com.qvacua.vimr.tools.html-preview</key>
				<dict>
					<key>dimension</key>
					<integer>500</integer>
					<key>is-visible</key>
					<false/>
					<key>location</key>
					<string>right</string>
				</dict>
				<key>com.qvacua.vimr.tools.opened-files-list</key>
				<dict>
					<key>dimension</key>
					<integer>200</integer>
					<key>is-visible</key>
					<false/>
					<key>location</key>
					<string>left</string>
				</dict>
				<key>com.qvacua.vimr.tools.preview</key>
				<dict>
					<key>dimension</key>
					<integer>250</integer>
					<key>is-visible</key>
					<false/>
					<key>location</key>
					<string>right</string>
				</dict>
			</dict>
		</dict>
		<key>open-new-window-on-reactivation</key>
		<true/>
		<key>open-new-window-when-launching</key>
		<true/>
		<key>open-quickly</key>
		<dict>
			<key>default-uses-vcs-ignores</key>
			<true/>
		</dict>
		<key>use-snapshot-update-channel</key>
		<false/>
	</dict>
	<key>ApplePressAndHoldEnabled</key>
	<string>NO</string>
</dict>
</plist>
